name: build macOS
on:
  push:
    tags: ['*']
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    permissions:
      contents: write
    env:
      DMG_PATH: src-tauri/target/release/bundle/dmg
    steps:
      # prepare codebase
      - uses: actions/checkout@v4.1.6

      # prep system
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Setup Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.13
      - name: install pnpm
        uses: pnpm/action-setup@v4.0.0
        with:
          version: latest
      - name: install node
        uses: actions/setup-node@v4.0.2
        with:
          cache: 'pnpm'
      - name: install brew packages
        run: |
          brew install rust cmake libsndfile

      # cmake build
      - name: dependencies
        run: |
          git submodule update --init
      - name: cmake build
        run: |
          cd src-cpp
          cmake -Bbuild -DCMAKE_BUILD_TYPE=Release
          cd build
          make

      # javascript
      - name: pnpm install
        run: pnpm install

      # compile
      - name: bundle
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # upload
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dmg
          path: ${{ env.DMG_PATH }}/

      - name: upload binary
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@v2.1.0
        with:
          files: ${{ env.DMG_PATH }}/*.dmg
